@keyframes fadeInWithColor {
  0% {
    opacity: 0;
    color: #667085; /*Initial color */
  }
  99% {
    opacity: 1;
    color:#667085; /* Still initial color*/
  }
  100% {
    opacity: 1;
    color: #333338; /* Final color */
  }
}

.fade-in-letter {
  opacity: 0;
  animation-name: fadeInWithColor;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  /* preserve whitespace so spaces appear properly */
  white-space: normal;
}
